label {
    font-family:'Arial';
    font-size:x-large;
    color:#ffffff;
    cursor:pointer;
}
table, th, td {
  padding:25px;
    text-align:center;
}
#centar {
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#ocena {
    color:#f00;
    font-size:x-large;
    font-family:Arial;
}